amqp==2.1.4
billiard==3.5.0.2
blessings==1.6
bpython==0.16
celery==4.0.2
celery-with-redis==3.0
curtsies==0.2.11
greenlet==0.4.12
kombu==4.0.2
Pygments==2.2.0
pytz==2016.10
redis==2.10.5
requests==2.13.0
selenium==3.0.2
six==1.10.0
vine==1.1.3
wcwidth==0.1.7
